$color-purple: #934dd6;
$color-grey: #e5e5e5;
$color-orange: #f2994a;
/* Genres colors */
$color-horror: #4f4f4f;
$color-crime: #9b51e0;
$color-comedy: #eb5757;
$color-drama: #bb6bd9;
$color-dark-comedy: #828282;
